# MongoDB Database Configuration
MONGODB_URI=mongodb://admin_db:admin_db@localhost:27017/profitech_db?authSource=admin
# Или отдельные параметры:
DB_HOST=localhost
DB_USER=admin_db
DB_PASSWORD=admin_db
DB_NAME=profitech_db

# Next.js Configuration
NODE_ENV=production

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://profitech.store

