# MySQL Database Configuration
DB_HOST=localhost
DB_USER=u3364352_default
DB_PASSWORD=nDpDE4luD7G84uk3
DB_NAME=u3364352_default

# Next.js Configuration
NODE_ENV=production

# Site Configuration (замените на ваш домен)
NEXT_PUBLIC_SITE_URL=https://ваш-домен.ru

