# MySQL Database Configuration
DB_HOST=localhost
DB_USER=admin_db
DB_PASSWORD=admin_db
DB_NAME=profitech_db

# Next.js Configuration
NODE_ENV=production

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://profitech.store

